<div class="login">
    <mat-card>
        <h1>LOGIN</h1>
        <form [formGroup] = "loginForm" (ngSubmit) = "onLogin()">
            <mat-form-field class="full-width-input">
                <input text="text"
                formControlName="username" 
                matInput placeholder="Username" required />
                <mat-error *ngIf="isValidField('username')">
                    {{getErrorMessage('username')}}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input separator">
                <input type="password" 
                [type]="hide ? 'password' : 'text'"
                formControlName="password" 
                matInput placeholder="Password" required />
                <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
                    <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                </button>
                <mat-error *ngIf="isValidField('password')">
                    {{getErrorMessage('password')}}
                </mat-error>
            </mat-form-field>
            <button [disabled]="loginForm.invalid" type="submit" mat-raised-button color="primary">Login</button>
            <div class="new-user">
                <a mat-list-item (click)="onOpenModal()">
                    <span class="nav-link">¿No tienes usuario? Registrate. </span>
                </a>
            </div>
        </form>
    </mat-card>
</div>