.login-form {
    padding: 4rem 1rem;
}

.mat-card {
    max-width: 300px;
    margin: 2rem auto;
    text-align: center;
    height: 350px;
}

.full-width-input, button {
    width: 100%;
}

.separator {
    margin-bottom: 2rem;;
}

.mat-toolbar.mat-primary {
    background: midnightblue;
    color: #fff;
}


.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background: midnightblue;
    color: #fff;
}

.new-user {
    padding: 3rem;
}

.nav-link {
    cursor: pointer;
}