<ng-container *ngIf="isAdmin == 'ADMIN'; else viewFinal">
    <mat-nav-list > 
        <a mat-list-item routerLink="/admin">
            <mat-icon>insert_chart_outlined</mat-icon>
            <span class="nav-link">Dashboard</span>
        </a>
    
        <a mat-list-item routerLink="/admin/users">
            <mat-icon>people</mat-icon>
            <span class="nav-link">Usuarios</span>
        </a>
    
        <a mat-list-item (click) = "onExit()">
            <mat-icon>exit_to_app</mat-icon>
            <span class="nav-link">Salir</span>
        </a>
    </mat-nav-list>
</ng-container>

<ng-template  #viewFinal> 
    <mat-nav-list> 
        <a mat-list-item routerLink="/final">
            <mat-icon>insert_chart_outlined</mat-icon>
            <span class="nav-link">Dashboard</span>
        </a>
    
        <a mat-list-item routerLink="/final/batch">
            <mat-icon>list</mat-icon>
            <span class="nav-link">Grupos</span>
        </a>
    
        <a mat-list-item routerLink="/final/maintenance">
            <mat-icon>add</mat-icon>
            <span class="nav-link">Alimentación</span>
        </a>

        <a mat-list-item routerLink="/final/animals">
            <mat-icon>agriculture</mat-icon>
            <span class="nav-link">Animales</span>
        </a>
    
        <a mat-list-item routerLink="/final/vegetables">
            <mat-icon>emoji_nature</mat-icon>
            <span class="nav-link">Vegetales</span>
        </a>
    
        <a mat-list-item routerLink="/final/products">
            <mat-icon>work</mat-icon>
            <span class="nav-link">Productos</span>
        </a>
    
        <a mat-list-item routerLink="/final/fixed">
            <mat-icon>wysiwyg</mat-icon>
            <span class="nav-link">Herramientas</span>
        </a>
    
        <a mat-list-item routerLink="/final/scheduler">
            <mat-icon>calendar_today</mat-icon>
            <span class="nav-link">Calendarización</span>
        </a>

        <a mat-list-item routerLink="/final/results">
            <mat-icon>analytics</mat-icon>
            <span class="nav-link">Resultados</span>
        </a>
    
        <a mat-list-item (click) = "onExit()">
            <mat-icon>exit_to_app</mat-icon>
            <span class="nav-link">Salir</span>
        </a>
    </mat-nav-list>
</ng-template>



