<mat-toolbar color='primary'>
    <ng-container *ngIf="isLogged">
        <button mat-icon-button (click) = "onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </ng-container>
    <span routerLink="/final">Stocktaking</span>
    <span class="spacer"></span>
        
    <a *ngIf="!isLogged; else viewLogout" mat-button [routerLink] = "'/login'">Login</a>
    <a  *ngIf="isAdmin == 'ADMIN'" mat-button [routerLink] = "'/admin'">Admin</a>  
    
</mat-toolbar>

<ng-template #viewLogout>
    <a mat-button (click) = "onLogout()">Salir</a>
</ng-template>