<div class="table-button-row">
    <button mat-flat-button color='primary' class="button-new" (click)="onOpenModal()">Nuevo</button>
</div>

  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef > Código </th>
        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef > Nombre del Lote </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>  
  
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef > Descripción </th>
        
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
  
  
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef > Tipo </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <div class="table-button-row">
            <button mat-flat-button color='accent' class="button-edit" (click)="onOpenModal(element)">Editar</button>
            <button mat-flat-button color='warn' class="button-delete"
              (click)="onDelete(element)">Eliminar</button>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>