<div class="container">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Descubre las opciones">
      <mat-grid-list cols="4" rowHeight="250px">
        <mat-grid-tile [colspan]="1" [rowspan]="2" routerLink="/final/batch">

          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Grupos</mat-card-title>
              <mat-card-subtitle>Sección Grupos</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image width="423" height="288" src="../../../assets/pexels-shvets-production-7203701.jpg">
            <mat-card-content>
              <p>
                Esta sección, nos permite registrar los grupos del material a almacenar,
                clasificandolos en lotes.
              </p>
            </mat-card-content>
          </mat-card>

        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="2" routerLink="/final/maintenance">

          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Alimentación</mat-card-title>
              <mat-card-subtitle>Sección Alimentos</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image width="423" height="288" src="../../../assets/2017_11_esparto-1.jpg">
            <mat-card-content>
              <p>
                Esta sección permite el registro de la materia prima, el consumo que va a realizar adquiriendo, para
                poder abastecer a sus granja.
              </p>
            </mat-card-content>
          </mat-card>

        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2" routerLink="/final/animals">

          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Animales</mat-card-title>
              <mat-card-subtitle>Sección Animales</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image  width="423" height="288" src="../../../assets/2017_10_0g8a4446-horse.jpg">
            <mat-card-content>
              <p>
                Esta sección pertime registrar un animal, para administrar su alimentación.
              </p>
            </mat-card-content>
          </mat-card>

        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2" routerLink="/final/vegetables">

          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Vegetales</mat-card-title>
              <mat-card-subtitle>Sección Vegetales</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image width="423" height="288" src="../../../assets/2018_07_pf-ake1389-ake.jpg">
            <mat-card-content>
              <p>
                Al igual que la sección de animales, en esta seccion se puede administrar lo necesario para los
                cultivos.
              </p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="2" routerLink="/final/products">

          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Productos</mat-card-title>
              <mat-card-subtitle>Sección Productos</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image width="423" height="288" src="../../../assets/2016_05_Life-of-Pix-free-stock-photos-silos-farming-sky-LEEROY.jpg">
            <mat-card-content>
              <p>
                Permite administrar los productos que tiene la venta.
              </p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="2" routerLink="/final/fixed">

          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Herramientas</mat-card-title>
              <mat-card-subtitle>Sección Herramientas</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image width="423" height="288" src="../../../assets/014_09_life-of-pix-free-stock-photos-New-York-rolls-wood.jpg">
            <mat-card-content>
              <p>
                Seccion en la que se registra Herramientas, que no son organicas.
              </p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="2" routerLink="/final/scheduler">

          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Recordatorios</mat-card-title>
              <mat-card-subtitle>Seccion calendarizar</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image width="423" height="288" src="../../../assets/4671057513_c670740b5f_b.jpg">
            <mat-card-content>
              <p>
                En esta sección se permite generar recordatorios a una fecha. Estas notificaciones se envian por día.
              </p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="2" routerLink="/final/results">

          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Resultados</mat-card-title>
              <mat-card-subtitle>Sección Resultados</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image width="423" height="288" src="../../../assets/pexels-shvets-production-7203701.jpg">
            <mat-card-content>
              <p>
                Presenta un pequeño resultado de lo obtenido a lo largo de mes.
              </p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>


      </mat-grid-list>


    </mat-tab>

    <mat-tab label="Formto de Archivos de Carga">  

      <div class="chart">
        <mat-grid-list cols="4"> 
          <mat-grid-tile [colspan]="4" [rowspan]="1"> 
            <mat-card>
              <mat-card-header>
                <mat-card-title>Lista de Formatos de Carga</mat-card-title>
                <mat-card-subtitle>Formato de Archivos</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                  <u>
                    <li *ngFor="let item of items" class="documents">
                      <a name="{{item.url}}" (click) = "onServiceClick(item.name)" >{{ item.name }}</a>
                  </li>
                  </u>
              </mat-card-content>
            </mat-card>

          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-tab>

    <mat-tab label="Disponibilidad Productos">
      <div class="chart">
        <mat-grid-list cols="4"> 
          <mat-grid-tile [colspan]="4" [rowspan]="1"> 
            <ngx-charts-tree-map [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
            [animations]="animations" [labelFormatting]="labelFormatting"></ngx-charts-tree-map>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>