<h2 mat-dialog-title> {{ data?.title }}</h2>
<mat-dialog-content>
    <div class="modal-form">
        <form [formGroup]="formAnimals"> 

            <mat-form-field class="full-width-input" >
                <input matInput formControlName="animalId" placeholder="Código" required [readonly]="data.animals.animalId"/> 
            </mat-form-field>
            <mat-error *ngIf="checkField('animalId')">
                {{getErrors('animalId')}}
            </mat-error>

            <mat-form-field class="full-width-input" >
                <input matInput formControlName="name" placeholder="Nombre" required />
            </mat-form-field>
            <mat-error *ngIf="checkField('name')">
                {{getErrors('name')}}
            </mat-error>


            <mat-form-field class="full-width-input">
                <mat-label>Fecha de Nacimiento</mat-label>
                <input readonly formControlName="birthDate" matInput [matDatepicker]="pickerStart">
                <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerStart></mat-datepicker>
            </mat-form-field>
            <mat-error *ngIf="checkField('birthDate')">
                {{getErrors('birthDate')}}
            </mat-error>

            <mat-form-field class="full-width-input">
                <mat-label> Alimento</mat-label>
                <mat-select formControlName="codeMaintenance">
                    <mat-option *ngFor="let fam of family" [value]="fam.value">
                        {{fam.description}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-error *ngIf="checkField('codeMaintenance')">
                {{getErrors('codeMaintenance')}}
            </mat-error>

            <mat-form-field class="full-width-input">
                <input matInput type="number" formControlName="cost" placeholder="Costos" required />
            </mat-form-field>
            <mat-error *ngIf="checkField('cost')">
                {{getErrors('cost')}}
            </mat-error>

            <mat-form-field class="full-width-input">
                <input matInput formControlName="total" placeholder="Numero de Ejemplares" required />
            </mat-form-field>
            <mat-error *ngIf="checkField('total')">
                {{getErrors('total')}}
            </mat-error>

            <mat-form-field class="full-width-input">
                <input matInput type="number" formControlName="diaryConsume" placeholder="Consumo Diario" required />
            </mat-form-field>
            <mat-error *ngIf="checkField('diaryConsume')">
                {{getErrors('diaryConsume')}}
            </mat-error>

            <mat-form-field class="full-width-input">
                <mat-label> Notificar Usuario</mat-label>
                <mat-select formControlName="notifyUser">
                    <mat-option Selected value="1">Si</mat-option>
                    <mat-option value="0">No</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-error *ngIf="checkField('notifyUser')">
                {{getErrors('notifyUser')}}
            </mat-error>

        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="formAnimals.reset()">Cancelar</button>
    <button mat-raised-button [mat-dialog-close]="true" color="primary" (click)="onSave()" ckdFocusInitial
        [disabled]="!formAnimals.valid">Guardar</button>

</mat-dialog-actions>
