<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Resultados">
      <mat-grid-list cols="2" rowHeight="10:1">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
      </mat-grid-list>
      
      <mat-grid-list cols="1" rowHeight="10:4">
  
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
  
            <ng-container matColumnDef="batchId">
              <th mat-header-cell *matHeaderCellDef> Código Lote </th>
              <td mat-cell *matCellDef="let element"> {{element.batchId}} </td>
            </ng-container>
  
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
  
            <ng-container matColumnDef="quality">
              <th mat-header-cell *matHeaderCellDef> Cantidad Aquirida </th>
  
              <td mat-cell *matCellDef="let element"> {{element.quality}} </td>
            </ng-container>
  
            <ng-container matColumnDef="qualityActual">
              <th mat-header-cell *matHeaderCellDef> Cantidad Total </th>
  
              <td mat-cell *matCellDef="let element"> {{element.qualityActual}} </td>
            </ng-container>
  
            <ng-container matColumnDef="cost">
              <th mat-header-cell *matHeaderCellDef> Costo </th>
  
              <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
  
          <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
  
      </mat-grid-list>
    </mat-tab>
  
    <mat-tab label="Graficas Genéricas">
  
  
      <mat-grid-list cols="1" rowHeight="25:1">
        <mat-grid-tile>
          <mat-button-toggle-group class="reports">
            <mat-button-toggle color='primary' (click)="onGenerateDataChart('guage')">Grafico: Medidor</mat-button-toggle>
          <mat-button-toggle color='primary' (click)="onGenerateDataChart('grid')">Grafico: Grilla</mat-button-toggle>
          <mat-button-toggle color='primary' (click)="onGenerateDataChart('tree')">Grafico: Arbol</mat-button-toggle>
          <mat-button-toggle color='primary' (click)="onGenerateDataChart('pie')">Grafico: Paste</mat-button-toggle>
          <mat-button-toggle color='primary' (click)="onGenerateDataChart('card')">Grafico: Carta</mat-button-toggle>
          <mat-button-toggle color='primary' (click)="onGenerateDataChart('bar')">Grafico: Barras</mat-button-toggle>
          </mat-button-toggle-group>
        </mat-grid-tile>
  
      </mat-grid-list>
  
      <div class="charts">
        <ngx-charts-gauge [view]="view" [scheme]="colorScheme" [results]="single" [legend]="legend"
          [legendPosition]="legendPosition" *ngIf="chart == 'guage'">
        </ngx-charts-gauge>
  
        <ngx-charts-pie-grid [view]="view" [scheme]="colorScheme" [results]="single" *ngIf="chart == 'grid'">
        </ngx-charts-pie-grid>
  
        <ngx-charts-tree-map [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
          [animations]="animations" [labelFormatting]="labelFormatting" *ngIf="chart == 'tree'">
        </ngx-charts-tree-map>
  
  
        <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
          [legend]="showLegend" [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut"
          *ngIf="chart == 'pie'">
        </ngx-charts-pie-chart>
  
        <ngx-charts-number-card [view]="view" [scheme]="colorScheme" [results]="single" [cardColor]="cardColor"
          *ngIf="chart == 'card'">
        </ngx-charts-number-card>
  
        <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
          [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" *ngIf="chart == 'bar'">
        </ngx-charts-bar-vertical>
      </div>
  
  
  
  
  
    </mat-tab>
  
  </mat-tab-group>