table {
    width: 98%;
    margin: 0 auto;
    margin-top: 1rem;
}

th.mat-sort-header-sorted {
    color: black;
}

.table-button-row button {
    margin: 12px;
}

.button-new {
    width: 30%;
}

.button-delete {
    background-color: #47478D;
    color: #ffffff;
}

.button-edit {
    background-color: #6C6CA4;
    color: #ffffff;
    margin: 2px auto;
}

.charts {
    margin: 25px auto;
    display: table;
}

.mat-toolbar.mat-primary {
    background: midnightblue;
    color: #fff;
}


.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background: midnightblue;
}

.form-control {
    width: 98%;
    margin: 12px;
    height: 30px;
}
