<h2 mat-dialog-title>{{ data?.title }}</h2>
<mat-dialog-content>¿Desea eliminar la seleccion, con la información de <strong>{{ data?.code }}</strong>?</mat-dialog-content>
<mat-dialog-actions  align="center">
  <button mat-button mat-dialog-close="true" color="primary">Si</button>
  <button mat-button [mat-dialog-close]="false" color="secundary">No</button>
</mat-dialog-actions>