.modal-form {
    padding: 1rem 0;
  
  }
  
  .full-width-input {
    width: 100%;
  }

  .mat-toolbar.mat-primary {
    background: midnightblue;
    color: #fff;
}


.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background: midnightblue;
    color: #fff;
}