<h2 mat-dialog-title> {{ data?.title }}</h2>

<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="personForm">
        <form [formGroup]="personForm"> 
            <ng-template matStepLabel>Información de Usuario</ng-template>
            <mat-form-field class="full-width-input" >
                <input matInput formControlName="name" placeholder="Nombres" required /> 
            </mat-form-field>
            <mat-error *ngIf="checkField('name', 'person')">
                {{getErrors('name', 'person')}}
            </mat-error>

            <mat-form-field class="full-width-input" >
                <input matInput formControlName="lastName" placeholder="Apellidos" required />
            </mat-form-field>
            <mat-error *ngIf="checkField('lastName', 'person')">
                {{getErrors('lastName', 'person')}}
            </mat-error>

            <mat-form-field class="full-width-input">
                <mat-label>Fecha de Nacimiento</mat-label>
                <input readonly formControlName="birthDate" matInput [matDatepicker]="pickerStart">
                <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerStart></mat-datepicker>
            </mat-form-field>
            <mat-error *ngIf="checkField('birthDate', 'person')">
                {{getErrors('birthDate', 'person')}}
            </mat-error>

            <mat-form-field class="full-width-input">
                <mat-label> Tipo de Identificación</mat-label>
                <mat-select  formControlName="legalIdType" [(value)]="selected">
                    <mat-option Selected value="C">Cedula</mat-option>
                    <mat-option value="R">Ruc</mat-option>
                    <mat-option value="P">Pasaporte</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-error *ngIf="checkField('legalIdType', 'person')">
                {{getErrors('legalIdType', 'person')}}
            </mat-error>

            <mat-form-field class="full-width-input">
                <input matInput formControlName="legalId" placeholder="Identificación" required />
            </mat-form-field>
            <mat-error *ngIf="checkField('legalId', 'person')">
                {{getErrors('legalId', 'person')}}
            </mat-error>

            <mat-form-field class="full-width-input">
                <input matInput formControlName="email" placeholder="Correo electronico" required />
            </mat-form-field>
            <mat-error *ngIf="checkField('email', 'person')">
                {{getErrors('email', 'person')}}
            </mat-error>

            <mat-form-field class="full-width-input">
                <input matInput formControlName="phone" placeholder="Telefono celular" required />
            </mat-form-field>
            <mat-error *ngIf="checkField('phone', 'person')">
                {{getErrors('phone', 'person')}}
            </mat-error>

        </form>

        <div>
            <button mat-button matStepperNext>Siguiente</button>
          </div>

    </mat-step>
    <mat-step [stepControl]="userForm">
      <form [formGroup]="userForm">
        <ng-template matStepLabel>Información de Acceso</ng-template>
   
        <mat-form-field class="full-width-input">
            <mat-label>Usuario</mat-label>
                <input matInput formControlName="username" placeholder="Usuario" required />
            </mat-form-field>
            <mat-error *ngIf="checkField('username', 'user')">
                {{getErrors('username', 'user')}}
            </mat-error>

            
          <mat-form-field class="full-width-input">
            <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" placeholder="Password" required />
            </mat-form-field>
            <mat-error *ngIf="checkField('password', 'user')">
                {{getErrors('password', 'user')}}
            </mat-error>

        <div>
          <button mat-button matStepperPrevious>Regresar</button>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Terminado</ng-template>
      <p>Completar formulario</p>
      <div>
        <button mat-button matStepperPrevious>Regresar</button>
        <button mat-raised-button color="primary" (click)="onSave()" ckdFocusInitial
        [disabled]="!userForm.valid" [mat-dialog-close]="true">Guardar</button>
      </div>
    </mat-step>
  </mat-stepper>