table {
    width: 98%;
    margin: 0 auto;
    margin-top: 1rem;
}

th.mat-sort-header-sorted {
    color: black;
}

.table-button-row button {
    margin: 12px;
}

.button-new {
    width: 30%;
}

.button-delete {
    background-color: #8561C5;
    color: #ffffff;
}

.button-edit {
    background-color: #9D81D1;
    color: #ffffff;
}

.mat-drawer-content {
    height: 94%;
}