<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)] = "opened">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (toggleSidenav) = "sidenav.toggle()"></app-header>
    <router-outlet></router-outlet>
    <app-footer color="primary"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>