<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Registro de Productos">
    <mat-grid-list cols="2" rowHeight="10:1">
         <mat-grid-tile>
          <div class="table-button-row row-button">
            <button mat-flat-button color='primary' class="button-new" (click)="onOpenModal()">Nuevo</button>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="table-button-row">
            <mat-form-field>
              <input class="ng-hide" id="input-file-id" #fileInput hidden multiple type="file"
                (change)="onArchive($event)" />
              <mat-toolbar>
                <button mat-flat-button color='primary' class="button-edit" id="#uploadFile" (click)="fileInput.click()">
                  Seleccionar un Archivo
                </button>
                <!-- Fetch selected filed on change -->
                <button mat-flat-button id="uploadButton" color='warn' class="button-delete" *ngIf="isActivate"
                  color="secundary" [disabled]="!isActivate" (click)="uploadFiles()">Cargar por Archivo</button>
                <!-- Display files names -->
                <input matInput readonly class="uploadText" name="name" value="{{fileName}}" />
                <!-- Browse Button -->
                
              </mat-toolbar>
            </mat-form-field>
          </div>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="10:4">

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="productId">
            <th mat-header-cell *matHeaderCellDef> Código </th>
            <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre del Articulo </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="realPrice">
            <th mat-header-cell *matHeaderCellDef> Precio Real </th>
            <td mat-cell *matCellDef="let element"> {{element.realPrice}} </td>
          </ng-container>

          <ng-container matColumnDef="marketPrice">
            <th mat-header-cell *matHeaderCellDef> Precio Mercado </th>

            <td mat-cell *matCellDef="let element"> {{element.marketPrice}} </td>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
          </ng-container>

          <ng-container matColumnDef="sellQuantity">
            <th mat-header-cell *matHeaderCellDef> Cantidad Vendida</th>
            <td mat-cell *matCellDef="let element"> {{element.sellQuantity}} </td>
          </ng-container>

          <ng-container matColumnDef="rejection">
            <th mat-header-cell *matHeaderCellDef> Producto Rechazado </th>
            <td mat-cell *matCellDef="let element"> {{element.rejection}} </td>
          </ng-container>


          <ng-container matColumnDef="realGreed">
            <th mat-header-cell *matHeaderCellDef> Ganancia Real </th>
            <td mat-cell *matCellDef="let element"> {{element.realGreed}} </td>
          </ng-container>

          <ng-container matColumnDef="estimateGreed">
            <th mat-header-cell *matHeaderCellDef> Ganancia Estimada </th>
            <td mat-cell *matCellDef="let element"> {{element.estimateGreed}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
              <div class="table-button-row">
                <button mat-flat-button color='accent' class="button-edit"
                  (click)="onOpenModal(element)">Editar</button>
                <button mat-flat-button color='warn' class="button-delete" (click)="onDelete(element)">Eliminar</button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>

    </mat-grid-list>
  </mat-tab>

  <mat-tab label="Reporte Genérico de Productos">

    <mat-grid-list cols="1" rowHeight="25:1">
      <mat-grid-tile>
        <mat-button-toggle-group class="reports">
          <mat-button-toggle color='primary' (click)="onGenerateDataChart('guage')">Grafico: Medidor</mat-button-toggle>
          <mat-button-toggle color='primary' (click)="onGenerateDataChart('grid')">Grafico: Grilla</mat-button-toggle>
          <mat-button-toggle color='primary' (click)="onGenerateDataChart('tree')">Grafico: Arbol</mat-button-toggle>
          <mat-button-toggle color='primary' (click)="onGenerateDataChart('pie')">Grafico: Paste</mat-button-toggle>
          <mat-button-toggle color='primary' (click)="onGenerateDataChart('card')">Grafico: Carta</mat-button-toggle>
          <mat-button-toggle color='primary' (click)="onGenerateDataChart('bar')">Grafico: Barras</mat-button-toggle>
          <mat-button-toggle color='primary' (click)="onGenerateReport()">Generar Información Excel</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-grid-tile>

    </mat-grid-list>

    <div class="charts">
      <ngx-charts-gauge [view]="view" [scheme]="colorScheme" [results]="single" [legend]="legend"
        [legendPosition]="legendPosition" *ngIf="chart == 'guage'">
      </ngx-charts-gauge>

      <ngx-charts-pie-grid [view]="view" [scheme]="colorScheme" [results]="single" *ngIf="chart == 'grid'">
      </ngx-charts-pie-grid>

      <ngx-charts-tree-map [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
        [animations]="animations" [labelFormatting]="labelFormatting" *ngIf="chart == 'tree'">
      </ngx-charts-tree-map>


      <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
        [legend]="showLegend" [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut"
        *ngIf="chart == 'pie'">
      </ngx-charts-pie-chart>

      <ngx-charts-number-card [view]="view" [scheme]="colorScheme" [results]="single" [cardColor]="cardColor"
        *ngIf="chart == 'card'">
      </ngx-charts-number-card>

      <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
        [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" *ngIf="chart == 'bar'">
      </ngx-charts-bar-vertical>
    </div>





  </mat-tab>

</mat-tab-group>