.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: midnightblue;
    color: #ffff;
}

.span-content {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}