<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Registro Cultivos - Verduras">
    <mat-grid-list cols="2" rowHeight="10:1">
      <mat-grid-tile>
       <div class="table-button-row row-button">
         <button mat-flat-button color='primary' class="button-new" (click)="onOpenModal()">Nuevo</button>
       </div>
     </mat-grid-tile>
     <mat-grid-tile>
       <div class="table-button-row">
         <mat-form-field>
           <input class="ng-hide" id="input-file-id" #fileInput hidden multiple type="file"
             (change)="onArchive($event)" />
           <mat-toolbar>
             <button mat-flat-button color='accent' class="button-edit" id="#uploadFile" (click)="fileInput.click()">
               Seleccionar un Archivo
             </button>
             <!-- Fetch selected filed on change -->
             <button mat-flat-button id="uploadButton" color='warn' class="button-delete" *ngIf="isActivate"
               color="secundary" [disabled]="!isActivate" (click)="uploadFiles()">Cargar por Archivo</button>
             <!-- Display files names -->
             <input matInput readonly class="uploadText" name="name" value="{{fileName}}" />
             <!-- Browse Button -->
             
           </mat-toolbar>
         </mat-form-field>
       </div>
     </mat-grid-tile>
 </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="10:4">

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="vegetableId">
            <th mat-header-cell *matHeaderCellDef> Código </th>
            <td mat-cell *matCellDef="let element"> {{element.vegetableId}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="buyDate">
            <th mat-header-cell *matHeaderCellDef> Fecha de Nacimiento </th>

            <td mat-cell *matCellDef="let element"> {{element.buyDate}} </td>
          </ng-container>

          <ng-container matColumnDef="codeMaintenanceDescription">
            <th mat-header-cell *matHeaderCellDef> Alimento </th>

            <td mat-cell *matCellDef="let element"> {{element.codeMaintenanceDescription}} </td>
          </ng-container>

          <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef> Costo </th>

            <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
          </ng-container>

          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef> Total Ejemplar </th>

            <td mat-cell *matCellDef="let element"> {{element.total}} </td>
          </ng-container>

          <ng-container matColumnDef="diaryConsume">
            <th mat-header-cell *matHeaderCellDef> Consumo Diario </th>

            <td mat-cell *matCellDef="let element"> {{element.diaryConsume}} </td>
          </ng-container>

          <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef> Edad </th>

            <td mat-cell *matCellDef="let element"> {{element.age}} </td>
          </ng-container>


          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
              <div class="table-button-row">
                <button mat-flat-button color='accent' class="button-edit"
                  (click)="onOpenModal(element)">Editar</button>
                <button mat-flat-button color='warn' class="button-delete" (click)="onDelete(element)">Eliminar</button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>

    </mat-grid-list>

  </mat-tab>

  <mat-tab label="Reporte Genérico Cultivos - Verduras">


    <mat-grid-list cols="1" rowHeight="25:1">
      <mat-grid-tile>
        <mat-button-toggle-group class="reports">
          <mat-button-toggle color='primary' (click)="onGenerateDataChart('guage')">Grafico: Medidor</mat-button-toggle>
          <mat-button-toggle color='primary' (click)="onGenerateDataChart('grid')">Grafico: Grilla</mat-button-toggle>
          <mat-button-toggle color='primary' (click)="onGenerateDataChart('tree')">Grafico: Arbol</mat-button-toggle>
          <mat-button-toggle color='primary' (click)="onGenerateDataChart('pie')">Grafico: Paste</mat-button-toggle>
          <mat-button-toggle color='primary' (click)="onGenerateDataChart('card')">Grafico: Carta</mat-button-toggle>
          <mat-button-toggle color='primary' (click)="onGenerateDataChart('bar')">Grafico: Barras</mat-button-toggle>
          <mat-button-toggle color='primary' (click)="onGenerateReport()">Generar Información Excel</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-grid-tile>

    </mat-grid-list>

    <div class="charts">
      <ngx-charts-gauge [view]="view" [scheme]="colorScheme" [results]="single" [legend]="legend"
        [legendPosition]="legendPosition" *ngIf="chart == 'guage'">
      </ngx-charts-gauge>

      <ngx-charts-pie-grid [view]="view" [scheme]="colorScheme" [results]="single" *ngIf="chart == 'grid'">
      </ngx-charts-pie-grid>

      <ngx-charts-tree-map [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
        [animations]="animations" [labelFormatting]="labelFormatting" *ngIf="chart == 'tree'">
      </ngx-charts-tree-map>


      <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
        [legend]="showLegend" [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut"
        *ngIf="chart == 'pie'">
      </ngx-charts-pie-chart>

      <ngx-charts-number-card [view]="view" [scheme]="colorScheme" [results]="single" [cardColor]="cardColor"
        *ngIf="chart == 'card'">
      </ngx-charts-number-card>

      <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
        [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" *ngIf="chart == 'bar'">
      </ngx-charts-bar-vertical>
    </div>

  </mat-tab>

</mat-tab-group>