<div class="table-button-row">
    <button mat-flat-button color='primary' class="button-new" (click)="onOpenModal()">Nuevo</button>
</div>

  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <ng-container matColumnDef="productId">
        <th mat-header-cell *matHeaderCellDef > Código </th>
        <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
      </ng-container>
  
      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef > Nombre del Articulo </th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container>  
  
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef > Fecha de Inicio </th>
        
        <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
      </ng-container>
  
  
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef > Fecha de Fin </th>
        <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
      </ng-container>
  
  
      <ng-container matColumnDef="notNotifyMail">
        <th mat-header-cell *matHeaderCellDef> Deshabilitar envio correo</th>
        <td mat-cell *matCellDef="let element"> {{element.notNotifyMail}} </td>
      </ng-container>
  
      <ng-container matColumnDef="notNotifyPhone">
        <th mat-header-cell *matHeaderCellDef> Deshabilitar envio telefono </th>
        <td mat-cell *matCellDef="let element"> {{element.notNotifyPhone}} </td>
      </ng-container>
  
  
      <ng-container matColumnDef="personalizeMessage">
        <th mat-header-cell *matHeaderCellDef> Mensaje a enviar </th>
        <td mat-cell *matCellDef="let element"> {{element.personalizeMessage}} </td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <div class="table-button-row">
            <button mat-flat-button color='accent' class="button-edit" (click)="onOpenModal(element)">Editar</button>
            <button mat-flat-button color='warn' class="button-delete"
              (click)="onDelete(element)">Eliminar</button>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>