<h2 mat-dialog-title> {{ data?.title }}</h2>
<mat-dialog-content>
<div class="modal-form">
    <form [formGroup]="productForm">
        <mat-form-field class="full-width-input">
            <input 
            matInput 
            formControlName="productId"
            placeholder="Código"  
            required
            [readonly]="data.product.productId"
            />
        </mat-form-field>
        <mat-error *ngIf="checkField('productId')">
            {{getErrors('productId')}}
        </mat-error>

        <mat-form-field class="full-width-input">
            <input 
            matInput 
            formControlName="name"
            placeholder="Nombre Articulo"  
            required
            />
        </mat-form-field>
        <mat-error *ngIf="checkField('name')">
            {{getErrors('name')}}
        </mat-error>

        <mat-form-field class="full-width-input">
            <input 
            matInput
            type="number"
            formControlName="realPrice" 
            placeholder="Precio Real"  
            required
            />
        </mat-form-field>
        <mat-error *ngIf="checkField('realPrice')">
            {{getErrors('realPrice')}}
        </mat-error>

        <mat-form-field class="full-width-input">
            <input 
            matInput
            type="number"
            formControlName="marketPrice" 
            placeholder="Precio Mercado"  
            required
            />
        </mat-form-field>
        <mat-error *ngIf="checkField('marketPrice')">
            {{getErrors('marketPrice')}}
        </mat-error>
        
        <mat-form-field class="full-width-input">
            <input 
            formControlName="quantity" 
            matInput 
            type="number"
            placeholder="Cantidad"  
            required
            />
        </mat-form-field>
        <mat-error *ngIf="checkField('quantity')">
            {{getErrors('quantity')}}
        </mat-error>

        <mat-form-field class="full-width-input">
            <input 
            formControlName="sellQuantity" 
            matInput 
            type="number"
            placeholder="Productos Vendidos"  
            required
            />
        </mat-form-field>
        <mat-error *ngIf="checkField('sellQuantity')">
            {{getErrors('sellQuantity')}}
        </mat-error>

        <mat-form-field class="full-width-input">
            <mat-label>Fecha de Venta</mat-label>
            <input readonly formControlName="releaseDate" matInput [matDatepicker]="pickerStart">
            <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
            <mat-datepicker #pickerStart></mat-datepicker>
        </mat-form-field>
        <mat-error *ngIf="checkField('releaseDate')">
            {{getErrors('releaseDate')}}
        </mat-error>


    </form>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="productForm.reset()">Cancelar</button>
    <button mat-raised-button [mat-dialog-close] = "true" color="primary" (click) = "onSave()" ckdFocusInitial [disabled]="!productForm.valid">Guardar</button>
</mat-dialog-actions>
