<h1 *ngIf="(authSvc.user$ | async) as user">Welcome Stranger, {{user?.body?.username}}</h1>
<div class="home">
    <mat-grid-list cols="4"> 
      <mat-grid-tile [colspan]="4" [rowspan]="1"> 
        <mat-card><H2>Hola, soy StockService,  he intentare manejar tus activos de la mejor manera.</H2></mat-card>

      </mat-grid-tile>
    </mat-grid-list>
  </div>