<h2 mat-dialog-title> {{ data?.title }}</h2>
<mat-dialog-content>
    <div class="modal-form">
        <form [formGroup]="formCategory">
    

            <mat-form-field class="full-width-input" >
                <input matInput formControlName="maintenanceId" placeholder="Código" required [readonly]="data.category.maintenanceId"/> 
            </mat-form-field>
            <mat-error *ngIf="checkField('maintenanceId')">
                {{getErrors('maintenanceId')}}
            </mat-error>

            <mat-form-field class="full-width-input" >
                <input matInput formControlName="name" placeholder="Nombre" required />
            </mat-form-field>
            <mat-error *ngIf="checkField('name')">
                {{getErrors('name')}}
            </mat-error>


            <mat-form-field class="full-width-input">
                <mat-label>Fecha de Elaboración</mat-label>
                <input readonly formControlName="elaborateDate" matInput [matDatepicker]="pickerStart">
                <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerStart></mat-datepicker>
            </mat-form-field>
            <mat-error *ngIf="checkField('elaborateDate')">
                {{getErrors('elaborateDate')}}
            </mat-error>

            <mat-form-field class="full-width-input">
                <mat-label>Fecha de Caducidad</mat-label>
                <input readonly formControlName="expirationDate" matInput [matDatepicker]="pickerEnd">
                <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerEnd></mat-datepicker>
            </mat-form-field>
            <mat-error *ngIf="checkField('expirationDate')">
                {{getErrors('expirationDate')}}
            </mat-error>

            <mat-form-field class="full-width-input">
                <input matInput type="number" formControlName="cost" placeholder="Costos" required />
            </mat-form-field>
            <mat-error *ngIf="checkField('cost')">
                {{getErrors('cost')}}
            </mat-error>

            <mat-form-field class="full-width-input">
                <input matInput formControlName="measurement" placeholder="Unidad de Medida" required />
            </mat-form-field>
            <mat-error *ngIf="checkField('measurement')">
                {{getErrors('measurement')}}
            </mat-error>

            <mat-form-field class="full-width-input">
                <input matInput type="number" formControlName="quantity" placeholder="Cantidad Adquirida" required />
            </mat-form-field>
            <mat-error *ngIf="checkField('quantity')">
                {{getErrors('quantity')}}
            </mat-error>

            <mat-form-field class="full-width-input">
                <mat-label> Notificar Usuario</mat-label>
                <mat-select formControlName="notifyUser">
                    <mat-option Selected value="1">Si</mat-option>
                    <mat-option value="0">No</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-error *ngIf="checkField('notifyUser')">
                {{getErrors('notifyUser')}}
            </mat-error>

            <mat-form-field class="full-width-input">
                <mat-label> Lote</mat-label>
                <mat-select formControlName="loteId">
                    <mat-option *ngFor="let batch of batchs" [value]="batch.value">
                        {{batch.description}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-error *ngIf="checkField('loteId')">
                {{getErrors('loteId')}}
            </mat-error>

        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="formCategory.reset()">Cancelar</button>
    <button mat-raised-button [mat-dialog-close]="true" color="primary" (click)="onSave()" ckdFocusInitial
        [disabled]="!formCategory.valid">Guardar</button>

</mat-dialog-actions>
