<h2 mat-dialog-title> {{ data?.title }}</h2>
<mat-dialog-content>
    <div class="modal-form">
        <form [formGroup]="formFixed"> 

            <mat-form-field class="full-width-input" >
                <input matInput formControlName="fixedId" placeholder="Código" required [readonly]="data.fixed.fixedId"/> 
            </mat-form-field>
            <mat-error *ngIf="checkField('fixedId')">
                {{getErrors('fixedId')}}
            </mat-error>

            <mat-form-field class="full-width-input" >
                <input matInput formControlName="name" placeholder="Nombre" required />
            </mat-form-field>
            <mat-error *ngIf="checkField('name')">
                {{getErrors('name')}}
            </mat-error>

            <mat-form-field class="full-width-input">
                <input matInput type="number" formControlName="quantities" placeholder="Cantidad" required />
            </mat-form-field>
            <mat-error *ngIf="checkField('quantities')">
                {{getErrors('quantities')}}
            </mat-error>

            <mat-form-field class="full-width-input" >
                <input matInput formControlName="status" placeholder="Estado" required />
            </mat-form-field>
            <mat-error *ngIf="checkField('status')">
                {{getErrors('status')}}
            </mat-error>

            <mat-form-field class="full-width-input">
                <input matInput type="number" formControlName="cost" placeholder="Costos" required />
            </mat-form-field>
            <mat-error *ngIf="checkField('cost')">
                {{getErrors('cost')}}
            </mat-error>

        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="formFixed.reset()">Cancelar</button>
    <button mat-raised-button [mat-dialog-close]="true" color="primary" (click)="onSave()" ckdFocusInitial
        [disabled]="!formFixed.valid">Guardar</button>

</mat-dialog-actions>
