<h2 mat-dialog-title> {{ data?.title }}</h2>
<mat-dialog-content>
<div class="modal-form">
    <form [formGroup]="userForm">
        <mat-form-field class="full-width-input">
            <input 
            matInput 
            formControlName="username"
            placeholder="Usuario"  
            required
            />
        </mat-form-field>
        <mat-error *ngIf="checkField('username')">
            {{getErrors('username')}}
        </mat-error>

        <mat-form-field class="full-width-input" *ngIf="showPassword">
            <input 
            [type]="hide ? 'password' : 'text'"
            matInput 
            formControlName="password"
            placeholder="Contraseña"  
            required
            />
            <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
                <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
        </mat-form-field>
        <mat-error *ngIf="checkField('password')">
            {{getErrors('password')}}
          </mat-error>

        <mat-form-field class="full-width-input">
            <mat-label>Seleccionar Rol</mat-label>
            <mat-select formControlName="role">
                <mat-option value="ADMIN">Admin</mat-option>
                <mat-option value="FINAL">Final</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-error *ngIf="checkField('role')">
            {{getErrors('role')}}
        </mat-error>

        <mat-form-field class="full-width-input">
            <mat-label>Seleccionar Tipo Identificacion</mat-label>
            <mat-select formControlName="legalIdType">
                <mat-option value="C">Cédula</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-error *ngIf="checkField('legalIdType')">
            {{getErrors('legalIdType')}}
        </mat-error>

        <mat-form-field class="full-width-input">
            <input 
            matInput
            formControlName="legalId" 
            placeholder="Identificación"  
            required
            />
        </mat-form-field>
        <mat-error *ngIf="checkField('legalId')">
            {{getErrors('legalId')}}
        </mat-error>
        
        <mat-form-field class="full-width-input">
            <input 
            formControlName="names" 
            matInput 
            placeholder="Nombres"  
            required
            />
        </mat-form-field>
        <mat-error *ngIf="checkField('names')">
            {{getErrors('names')}}
        </mat-error>

        <mat-form-field class="full-width-input">
            <input 
            matInput 
            formControlName="lastName"
            placeholder="Apellidos"  
            required
            />
        </mat-form-field>
        <mat-error *ngIf="checkField('lastName')">
            {{getErrors('lastName')}}
        </mat-error>
        
        <mat-form-field class="full-width-input">
            <input 
            matInput 
            formControlName="email"
            placeholder="Correo"  
            required
            />
        </mat-form-field>
        <mat-error *ngIf="checkField('email')">
            {{getErrors('email')}}
        </mat-error>

        <mat-form-field class="full-width-input">
            <input 
            matInput 
            formControlName="phone"
            placeholder="Telefono"  
            required
            />
        </mat-form-field>
        <mat-error *ngIf="checkField('phone')">
            {{getErrors('phone')}}
        </mat-error>
        
        <mat-form-field class="full-width-input">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input 
            readonly 
            formControlName="birthDate"
            matInput 
            [matDatepicker]="picker"
            >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-error *ngIf="checkField('birthDate')">
            {{getErrors('birthDate')}}
        </mat-error>      

    </form>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="userForm.reset()">Cancelar</button>
    <button mat-raised-button [mat-dialog-close] = "true" color="primary" (click) = "onSave()" ckdFocusInitial [disabled]="!userForm.valid">Guardar</button>
</mat-dialog-actions>
