<h2 mat-dialog-title> {{ data?.title }}</h2>
<mat-dialog-content>
    <div class="modal-form">
        <form [formGroup]="schedulerForm">
            <mat-form-field class="full-width-input">
                <input matInput formControlName="productId" placeholder="Código" required />
            </mat-form-field>
            <mat-error *ngIf="checkField('productId')">
                {{getErrors('productId')}}
            </mat-error>

            <mat-form-field class="full-width-input">
                <input 
                    matInput 
                    formControlName="nameScheduler" 
                    placeholder="Nombre Tarea" 
                    required 
                />
  
            </mat-form-field>
            <mat-error *ngIf="checkField('nameScheduler')">
                {{getErrors('nameScheduler')}}
            </mat-error>

            <mat-form-field class="full-width-input">
                <mat-label>Fecha de Inicio</mat-label>
                <input readonly formControlName="startDate" matInput [matDatepicker]="pickerStart">
                <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerStart></mat-datepicker>
            </mat-form-field>
            <mat-error *ngIf="checkField('startDate')">
                {{getErrors('startDate')}}
            </mat-error>

            <mat-form-field class="full-width-input">
                <mat-label>Fecha de Fin</mat-label>
                <input readonly formControlName="endDate" matInput [matDatepicker]="pickerEnd">
                <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerEnd></mat-datepicker>
            </mat-form-field>
            <mat-error *ngIf="checkField('endDate')">
                {{getErrors('endDate')}}
            </mat-error>

            <mat-form-field class="full-width-input">
                <mat-label> Deshabilitar envio correo</mat-label>
                <mat-select formControlName="notNotifyMail">
                    <mat-option Selected value="1">Si</mat-option>
                    <mat-option value="0">No</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-error *ngIf="checkField('notNotifyMail')">
                {{getErrors('notNotifyMail')}}
            </mat-error>

            <mat-form-field class="full-width-input">
                <mat-label> Deshabilitar envio de Mensaje de Texto</mat-label>
                <mat-select formControlName="notNotifyPhone">
                    <mat-option Selected value="1">Si</mat-option>
                    <mat-option value="0">No</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-error *ngIf="checkField('notNotifyPhone')">
                {{getErrors('notNotifyPhone')}}
            </mat-error>

            <mat-form-field class="full-width-input">
                <textarea matInput formControlName="personalizeMessage" placeholder="Mensaje Personalizado" required></textarea>
            </mat-form-field>
            <mat-error *ngIf="checkField('personalizeMessage')">
                {{getErrors('personalizeMessage')}}
            </mat-error>

        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="schedulerForm.reset()">Cancelar</button>
    <button mat-raised-button [mat-dialog-close]="true" color="primary" (click)="onSave()" ckdFocusInitial
        [disabled]="!schedulerForm.valid">Guardar</button>

</mat-dialog-actions>