<h2 mat-dialog-title> {{ data?.title }}</h2>
<mat-dialog-content>
    <div class="modal-form">
        <form [formGroup]="batchForm">
            <mat-form-field class="full-width-input">
                <input matInput formControlName="code" placeholder="Código" required [readonly]="data.batch.code"/>
            </mat-form-field>
            <mat-error *ngIf="checkField('code')">
                {{getErrors('code')}}
            </mat-error>

            <mat-form-field class="full-width-input">
                <input 
                    matInput 
                    formControlName="name" 
                    placeholder="Nombre del Lote" 
                    required 
                />
  
            </mat-form-field>
            <mat-error *ngIf="checkField('name')">
                {{getErrors('name')}}
            </mat-error>

            <mat-form-field class="full-width-input">
                <input 
                    matInput 
                    formControlName="description" 
                    placeholder="Descripción del Lote" 
                    required 
                />
  
            </mat-form-field>
            <mat-error *ngIf="checkField('description')">
                {{getErrors('description')}}
            </mat-error>

            <mat-form-field class="full-width-input">
                <mat-label> Tipo de Lote</mat-label>
                <mat-select formControlName="type">
                    <mat-option value="P">Productos</mat-option>
                    <mat-option value="SV">Especies Vegetales</mat-option>
                    <mat-option value="SA">Especies Animales</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-error *ngIf="checkField('type')">
                {{getErrors('type')}}
            </mat-error>


        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="batchForm.reset()">Cancelar</button>
    <button mat-raised-button [mat-dialog-close]="true" color="primary" (click)="onSave()" ckdFocusInitial
        [disabled]="!batchForm.valid">Guardar</button>

</mat-dialog-actions>