table {
    width: 98%;
    margin: 0 auto;
    margin-top: 1rem;
}

th.mat-sort-header-sorted {
    color: black;
}

.table-button-row button {
    margin: 12px;
}

.button-delete {
    background-color: #47478D;
    color: #ffffff;
}

.button-edit {
    background-color: #6C6CA4;
    color: #ffffff;
    margin: 2px auto;
}

.button-new {
    width: 50%;
}

mat-grid-tile {
    padding: 0;
}

.mat-grid-tile-content {
    display: block ;
}

.mat-toolbar-single-row button {
    width: 200px;
}

.mat-form-field {
    margin: 12px;
    width: 590px;
}

.uploadText {
    width: 155px;
    margin: 12px;
}

mat-grid-tile {
    padding: 0;
}

.mat-grid-tile-content {
    display: block ;
}

.charts {
    margin: 25px auto;
    display: table;
}

.mat-tab-body-content {
    text-align: center;
    background: green;
}


.table-button-row.row-button  {
    width: 60rem;
}


.mat-toolbar.mat-primary {
    background: midnightblue;
    color: #fff;
}


.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background: midnightblue;
}

.make-red {
    background-color: red
}
